/* home landing page styling*/
#homePageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 4rem;
}

#homePageTitle,
#homePageTitleTag {
  color: rgb(229, 83, 15);
  font-size: 3rem;
  margin-top: 1rem;
}

#homePageTitleTag {
  font-size: 1.6rem;
  margin-top: 0;
}

#imageContainerHomePage {
  display: flex;
  justify-content: center;
  margin: 0rem 1rem 0rem 1rem;
  filter: drop-shadow(0px 0px 0.1rem #62a3ee);
}

#homeImage {
  width: 50%;
  height: auto;
  display: block;
  border-radius: 25px;
}

#buttonSectionHome {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

#buttonSection {
  align-items: center;
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

#submitTopicsButton,
#playQuizButton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  color: #5e80a8;
  border: 0.1rem solid #71adf1;
  border-radius: 15px;
  background-color: rgb(232, 238, 243);
  padding: 0.5rem;
  border-radius: 10px;
  margin: 0.5rem 0.5rem 0.5rem 2rem;
}

.buttonHome {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #2082f1;
  border: 2px solid #2082f1;
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 10px;
  width: 480px;
  cursor: pointer;
}

#howToPlayButton {
  color: #2082f1;
  background-color: white;
  border: 2px solid #2082f1;
}

#howToPlayButton:hover {
  color: white;
  background-color: #2082f1;
}

#submitTopicsButton {
  margin-bottom: 2rem;
}

/* choose topics styling */

.chooseTopicsPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 0rem 2rem 0rem;
}

#chooseTopicsHeadline,
#pickQuizHeadline {
  color: rgb(229, 83, 15);
  font-size: 40px;
}

.categoryItemSection {
  display: flex;
  flex-direction: column;
}

#categoryName {
  color: #2082f1;
  text-align: center;
  font-size: 30px;
}

#topicsNames {
  display: flex;
  justify-content: space-between;
  color: #3a5068;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 0.5rem;
}

#chooseTopicsTag,
#pickQuizTag {
  color: #3a5068;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  text-align: center;
}

.categoryItemContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #5e80a8;
  filter: drop-shadow(0px 0px 0.1rem #62a3ee);
  background-color: white;
  padding: 1rem;
  margin-bottom: 0.5rem;
  margin: 1rem 1rem 0.5rem 1rem;
  border-radius: 15px;
  width: 480px;
}

.categoryItemSection {
  width: 100%;
}

#checkBoxContainer {
  display: flex;
  flex-direction: column;
  margin: 1rem 6rem 1rem 6rem;
}

#checkbox {
  margin-right: 1rem;
}

#submitTopicsButton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #2082f1;
  border: 2px solid #2082f1;
  padding: 1rem;
  margin: 0.5rem 0rem 1.5rem 0rem;
  border-radius: 10px;
  width: 480px;
  cursor: pointer;
}

#submitTopicsButton a:visited {
  color: white;
}

#pickQuizCard {
  color: #5e80a8;
  filter: drop-shadow(0px 0px 0.1rem #62a3ee);
  background-color: white;
  padding: 1rem;
  margin: 1rem 1rem 0.5rem 1rem;
  border-radius: 15px;
}

@media (max-width: 555px) {
  .chooseTopicsPage, .categoryItemContainer, .categoryItemSection {
    width: 100%;
  }
  #categoryCard, .categoryItemContainer, #buttonSection, #submitTopicsButton {
    width: 90%;
  }
  #chooseTopicsHeadline {
    text-align: center;
  }
  #topicsNames {
    margin: 0rem 1rem 0rem 1rem;
  }
  #checkBoxContainer {
    margin: 0rem;
  }
}

/*user stats styling*/

#userStats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#userCard,
#topPlayersCard,
#rankContainer {
  color: #2082f1;
  font-family: Arial, Helvetica, sans-serif;
  filter: drop-shadow(0px 0px 0.1rem #62a3ee);
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
  width: 480px;
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
}

#topPlayersCard {
  filter: drop-shadow(0px 0px 0.1rem #62a3ee);
  border-radius: 15px;
  margin-bottom: 4rem;
}

#topPlayers {
  font-size: 30px;
}
#userCardItem, .quizInfo {
  font-family: Arial, Helvetica, sans-serif;
  color: #3a5068;
  margin: 0.5rem;
  font-size: 30px;
}

#currentQuizTopic {
  color: #2082f1;
}

.quizMessage {
  font-size: 30px;
margin-bottom: 1rem;
}

#quizMessageTag {
  color: #3a5068;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

#yourTopicsHeadline,
#userCardHeadline,
#topPlayersHeadline {
  text-align: center;
  color:#2082f1;
  font-size: 40px;
  margin-bottom: 1rem;
}

.topicCard {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 420px;
}

#topicName,
#topUserScores {
  color: #3a5068;
  font-size: 24px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 0.2rem;
}

#topicName {
  font-size: 20px;
}

#continueQuizButton {
  color: #3a5068;
  border: 0.1rem solid #71adf1;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 0.5rem;
  padding: 0.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
}

#playQuizButton {
  color:#3a5068;
  border: 2px solid #71adf1;
  border-radius: 10px;
  background-color:white;
  margin-bottom: 0.5rem;
  padding: .5rem 1rem .5rem 1rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
}

#playQuizButton:hover, #continueQuizButton:hover {
color: white;
background-color: #2082f1;
border: 2px solid #2082f1;
}

#changeTopicsButton, #continueQuizButton{
  color: #2082f1;
  border: 2px solid#2082f1;
  border-radius: 10px;
  background-color: white;
  margin-bottom: 0.5rem;
  padding: 0.4rem;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-decoration: none;
  cursor: pointer;
}

#changeTopicsButton a:visited {
  color: #2082f1
}

#changeTopicsButton,
#continueQuizButton {
  border-radius: 10px;
  margin-top: 2rem;
  padding: 0.6rem;
  width: 400px;
}

#topUserScores {
  margin-bottom: 1rem;
}

#rankHeader {
  font-size: 40px;
  margin: 2rem 0rem 1rem 0rem;
}

#displayRank {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.rankImage {
  width: 70px;
  height: auto;
  margin-top: 1rem;
}

.levelStyling {
  font-family: Arial, Helvetica, sans-serif;
  color:#3a5068;
  font-size: 30px;
  margin-top: 1rem;
}

@media (max-width: 555px) {
  #userStats {
    margin: 1rem;
  }
  #changeTopicsButton, #continueQuizButton, #userCard, #topPlayersCard, .topicCard {
  width: 100%;
}
}

/* pick quiz page styling */

.pickQuizContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 1rem 0rem 4rem 0rem;
}

#pickQuizHeadline {
  font-size: 40px;
}

.topic {
  color: #2082f1;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 2rem;
}

#question {
  margin-bottom: 0rem;
}

#pickQuizSection {
  color: #2082f1;
  font-family: Arial, Helvetica, sans-serif;
  filter: drop-shadow(0px 0px 0.1rem #62a3ee);
  background-color: white;
  padding: 1rem;
  margin: 1rem;
  border-radius: 15px;
  width: 480px;
}

#topicCard {
  display: flex;
  justify-content: center;
}

#yourTopicsCard, #pickQuizMessageSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 1rem;
}

#pickQuizMessageSection {
  margin: 1rem 0rem 0rem 0rem;
}

.pickQuizMessage {
  color: #3a5068;
  font-size: 22px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 1rem 1rem 2rem 1rem;
}

@media (max-width: 555px) {
   #pickQuizSection, .buttonHome{
    width: 90%;
  }
  #homePageContainer, #homeImage, #buttonSectionHome {
    width: 100%;
  }
}

