/* auth styling */

.authForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

#loginTitle {
  color: rgb(229, 83, 15);
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

#authForm {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.formName {
  color: #3a5068;
  font-size: 1.5rem;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  margin-top: .5rem;
  padding: .5rem;
  border-radius: 5px;
  filter: drop-shadow(0px 0px 0.1rem #62a3ee);
  width: 400px
}

#loginButton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #2082f1;
  border: 2px solid #2082f1;
  padding: 1rem;
  margin: 0.5rem 0rem 1.5rem 0rem;
  border-radius: 10px;
  width: 400px;
  cursor: pointer;
}

#bottomMessage {
  color: #3a5068;
  font-size: 18px;
}

#waitMessage {
  font-family: Arial, Helvetica, sans-serif;
  color: #3a5068;;
}

@media (max-width: 555px) {
  .form {
    width: 90%;
  }
  #loginButton, .input {
    width: 100%;
  }
}
