/* navbar styling*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  padding: 1rem;
}

#navbarEmoji {
  font-size: 3rem;
  padding: 0.5rem;
  border-radius: 15%;
  background-color: #2082f1;
}

#navBarSectionRight {
  display: flex;
  margin-top: .5rem;
}

.navLink {
  color:  #2082f1;
  border: 2px solid #2082f1;
  border-radius: 10px;
  background-color: white;
  padding: .5rem 1rem .5rem 1rem;
  font-size: 22px;
  font-weight: bold;
  cursor: pointer;
}

.navLink:hover {
  color: white;
  background-color: #2082f1;
}

.login {
  list-style-type: none;
}

/* footer styling */

#footerSection {
  background-color: #2082f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 2rem;
}

#footerNavElements {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 60%;
  padding-bottom: 1rem;
}

.footerNavElement,
.footerLogin,
.footerLoginElement, #howToPlay {
  color: white;
  font-size: 20px;
  margin-top: 2rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.footerNavElement a,
.footerNavElement a:visited {
  color: white;
  text-decoration: none;
}

.footerLoginElement {
  list-style-type: none;
  margin: 0;
}


@media (max-width: 586px) {
  #footerNavElements {
    width: 90%;
  }
}
