/*game home & score correct & score incorrect styling*/
.gameHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 1rem 4rem 1rem;
}

#currentQuestion {
  color: #3a5068;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
#imageContainer {
  margin-top: 0.5rem;
  border-radius: 25px;
  overflow: hidden;
  filter: drop-shadow(0px 0px 0.1rem #62a3ee);
  box-sizing: border-box;
  width: 480px;
}
#image {
  display: flex;
  width: 100%;
  height: auto;
}

.blur-50 {
  filter: blur(50px);
}
.blur-45 {
  filter: blur(45px);
}
.blur-40 {
  filter: blur(40px);
}
.blur-35 {
  filter: blur(35px);
}
.blur-30 {
  filter: blur(30px);
}
.blur-25 {
  filter: blur(25px);
}
.blur-20 {
  filter: blur(20px);
}
.blur-15 {
  filter: blur(15px);
}
.blur-10 {
  filter: blur(10px);
}
.blur-5 {
  filter: blur(5px);
}
.blur-0 {
  filter: blur(0px);
}

#answerGridContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#answerGridTitle {
  font-size: 30px;
  color: rgb(229, 83, 15);
  margin: 0.7rem;
  text-align: center;
}

#answerGrid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

#userLetter,
#revealedLetter {
  color: rgb(20, 144, 218);
  background-color: rgb(248, 247, 242);
  font-family: monospace;
  font-size: 25px;
  text-align: center;
  width: 30px;
  height: 40px;
  margin: 0.1rem;
  box-sizing: border-box;
  border-radius: 5px;
}

#revealedLetter {
  background-color: rgb(20, 144, 218);
  color: white;
  line-height: 2rem;
}

#gameHomeButtons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

#enterContainer {
  display: flex;
  justify-content: center;
  width: 100%;
}

#enterButton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  color: #2082f1;
  font-weight: bold;
  background-color: white;
  border: 2px solid #2082f1;
  padding: 1rem;
  margin: 0.5rem 0rem 1.5rem 0rem;
  border-radius: 10px;
  width: 480px;
  text-align: center;
  cursor: pointer;
}

#enterButton:hover {
  color: white;
  background-color: #2082f1;
}

#button,
#buttonGame,
#submitAnswerButton,
#backHomeButtonAnswerPage {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #2082f1;
  border: 2px solid #2082f1;
  padding: 1rem;
  margin: 0.5rem 0rem 1.5rem 0rem;
  border-radius: 10px;
  width: 480px;
  text-align: center;
  cursor: pointer;
}

#backHomeButton {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #2082f1;
  background-color: white;
  border: 2px solid #2082f1;
  padding: 1rem;
  margin: 0.5rem 0rem 1.5rem 0rem;
  border-radius: 10px;
  width: 480px;
  text-align: center;
  cursor: pointer;
}

#backHomeButton:hover {
  color: white;
  background-color: #2082f1;
}

.link, .enter {
  font-weight: bold;
  font-size: 20px;
}

.enter {
  color: #2082f1;
 background-color: transparent;
  font-family: Arial, Helvetica, sans-serif;
}


.link:visited {
  color: white;
  background-color: #2082f1;
}

#buttonGame {
  margin-left: 1.5rem;
  margin-bottom: 2rem;
  text-align: center;
}

.scoreIncorrect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0rem 1rem 4rem 1rem;
}

#correctAnswer {
  color: rgb(229, 83, 15);
  font-size: 24px;
  text-align: center;
  margin-top: 1rem;
}
.correctAnswerWord {
  color: #2082f1;
  font-size: 40px;
  text-align: center;
  margin-bottom: 1rem;
}

#quizScore {
  color: #3a5068;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

#answerInformation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

@media (max-width: 555px) {
 
  #imageContainer,
  #image {
    width: 100%;
    height: auto;
  }
  .answerGridSection {
    display: flex;
    flex-direction: column;
  }
  #userLetter,
  #revealedLetter {
    width: 25px;
    height: 25px;
  }
  #revealedLetter {
    line-height: 1.5rem;
  }
  #buttonGame {
    display: block;
    justify-content: center;
    margin: auto;
    margin-bottom: 2rem;
  }
  #button, .enter,
  #gameHomeButtons,
  #buttonGame,
  #submitAnswerButton,
  #backHomeButton,
  #backHomeButtonAnswerPage,
  #enterButton, .answerGridSection  {
    width: 100%;
  }
}

/* quiz styling */
.quizQuestionPage,
.quizAnswerPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1rem 1rem 2rem 1rem;
}

#quizAnswersSection {
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

#factSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 2rem;
}

#questionSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  text-align: center;
}

#iconContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 55px;
  height: auto;
  background: linear-gradient(#c7d6f1, #71adf1);
  border-radius: 25% 10%;
  padding: 0rem 0rem 0.5rem 0.5rem;
  margin-bottom: 1rem;
}

#questionIcon {
  color: white;
  font-size: 2.5rem;
  padding-right: 0.5rem;
}

#question,
#funFact {
  color: #2082f1;
  margin-left: 0.5rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  width: 600px;
}

#questionAnswers {
  color: #3a5068;
  font-size: 24px;
  margin: 1rem 0rem 1rem 0rem;
  font-family: Arial, Helvetica, sans-serif;
}

.questionAnswer {
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: solid #5e80a8 1px;
}

#answerA,
#answerB,
#answerC,
#answerD {
  margin: 0rem 0rem 1rem 1rem;
}

.answerIcon,
.answerIconCorrect,
#yourAnswer {
  margin-left: 1rem;
}

#yourAnswer {
  color: #5e80a8;
}

.answerIconCorrect {
  color: rgb(229, 83, 15);
}

#buttonSection {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem;
}

#funFactContainer {
  display: flex;
  flex-direction: column;
  background: linear-gradient(#c7d6f1, #71adf1);
  border-radius: 25% 5%;
  padding: 0rem 0.5rem 0.5rem 0.5rem;
  margin: 0rem 0rem 1rem 1rem;
}

#funFactIcon {
  color: white;
  font-size: 2rem;
  padding: 0.2rem;
}

@media (max-width: 555px) {
  #buttonSection,
  .buttonQuizPage,
  #submitAnswerButton,
  #quizAnswerSection,
  #question,
  .quizAnswers,
  #factSection,
  #funFact {
    width: 100%;
  }
  #questionAnswers {
    text-align: center;
  }
}
